* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    
    top: 0;
    cursor: pointer;
}

.background {
    background: black;
    background-blend-mode: darken;
    background-size: cover;
}

.nav-list {
    width: 70%;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 180px;
    border-radius: 50px;
}

.nav-list li {
    list-style: none;
    padding: 26px 30px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
}

.nav-list li a:hover {
    color: grey;
}

.rightnav {
    width: 30%;
    text-align: right;
}

#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}


.btn {
    padding: 8px 20px;
    margin: 7px 0;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}

.btn-sm {
    padding: 6px 10px;
    vertical-align: middle;
}



.po {

    text-decoration: none;
    color: black;
    
   
}


.Services {
    position: absolute;
   top: 300px;
   left: 100px;


}

.lista {
    
    font-size: 35px;
    font-weight: bold;
}

.our{
  font-size: 50px;
 
}

.mid {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 110px;
   
   
}



.btnr {
    background-color: black;
    border-radius: 10px;
    width: 200px;
    height: 100px;
}

.btnr:hover {
    background-color: grey;
    width:210px ;
    height: 110px;
}


.jo {
    text-decoration: none;
    color: white;
    font-size: 30px;
}


.our2{
    font-size: 50px;
  }



.lista2 {   
    font-size: 35px;
    font-weight: bold;
}

.right {
    position: absolute;
    top: 1200px;
    right: 100px;

}

.box {
    width: 1000px;
    height: 600px;
    background-color: grey;
    position: absolute;
    top: 450px;
    left: 550px;
    border-radius: 30px;
    opacity: 0.7;
}

.imga {
    position: absolute;
    top: 400px;
    left: 600px;
    width: 1000px;
    height: 600px;
    cursor: pointer;
    border-radius: 30px;
}

.popraa {
    font-size: 50px;
}

.spodi {
     display: flex;
     justify-content: center;
     margin-top: 50px;

}

.millano {
    width: 1600px;
    height:10px ;
    background-color: black;
    position: absolute;
    top: 200px;
    left: 50px;
}

.imga2 {
    position: absolute;
    top: 1300px;
    right: 600px;
    width: 1000px;
    height: 600px;
    border-radius: 30px;
    cursor: pointer;

}

.box2 {
    width: 1000px;
    height: 600px;
    background-color: grey;
    position: absolute;
    top: 1350px;
    right: 550px;
    border-radius: 30px;

    opacity: 0.7;
}

.background2 {
    background: black;
    background-blend-mode: darken;
    background-size: cover;
    position: absolute;
    top: 5900px;
    width: 100%;
}


.text-footer {
    text-align: center;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    color: white;
}

.img3 {
   position: absolute;
   left: 780px;
   top: 2330px;
}

.imga3 {
    width: 120px;
    height: 90px;
}

.img :hover {
    transform: scale(1.15);
}

.img2 :hover {
    transform: scale(1.15);
}

.ekipa {
    position: absolute;
    top: 2850px;

}

.pallermo {
    width: 1600px;
    height:10px ;
    background-color:black;
    margin-left: 50px;
    margin-top: 10px;
}

.some {
    font-size: 50px;
    display: flex;
    justify-content: center;
    
}

.foto {
    width: 100%;
}


.row {
   position: absolute;
   top: 3050px;
   left: 50px;

}

  
  .column {
    float: left;
    width: 300px;
    padding: 0 8px;
    
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    height: 480px;
    background-color: white;
    

  }
  
 
  
  .container {
    padding: 0 16px;
  }
  
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
  }
  
  .button:hover {
    background-color: #555;
  }
  
.hint {
    background-color:gray
    
}

.tables {
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-top: 1150px;
}



.majko {
    position: absolute;
    top: 3650px;
    left: 32%;
}

.autostrada {
    width: 600px;
    height:10px ;
    background-color: black;
    margin-top: 10px;

}

.teachers {
    font-size: 50px;
    display: flex;
    justify-content: center;
}


.fotoot {
    display: flex;
    gap: 150px;
   margin-top: 300px;
   justify-content: center;
   cursor: pointer;
}

.mini {
    width: 300px;
    height: 300px;
}

.fotoot :hover {
    width: 330px;
    height: 330px;
}

.nauk {
    display: flex;
    justify-content: center;
    margin-top:1900px;
}


.cc {
    width: 1600px;
    height:10px ;
    background-color: black;
    margin-top: 10px;
    margin-left: 50px;
}

.cnt {
    font-size: 60px;
    display: flex;
    justify-content: center;
    margin-top: 600px;
}




.ceja {
    width: 400px;
    height:10px ;
    background-color: #000000;

    margin-top: 10px;
    
}

.qeshtut {
    font-size: 60px;
}

.kuku {
    position: absolute;
    top: 2050px;
    left: 38%;
}


.kqyre {
    position: absolute;
    top: 4200px;
    left: 20%;
    
}

.qata {
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    
}

.qeta {
    text-align: center;

}



.tedhenat {
    margin-left: 100px;
    margin-top: 210px;
}


.mbaki {
    width: 800px;
    height: 450px;
    background-color:grey;
    position: absolute;
    top: 4880px;
    left: 800px;
    border-radius: 10px;
}

.emri {
    margin-top: 40px;
    margin-left: 40px;
    width: 700px;
    height: 50px;
    border-radius: 10px;
}

.emaili {
    margin-top: 30px;
    margin-left: 40px;
    width: 700px;
    height: 50px;
    border-radius: 10px;
}

.message {
    margin-top: 30px;
    margin-left: 40px;
    height: 100px;
    width: 700px;
    border-radius: 10px;
}

.lakbtn1 {
    width: 150px;
    height: 40px;
    border: 8px;
    border-radius: 10px;
    background-color: black; 
    
    position: absolute;
    top: 5240px;
    right: 700px;
}

 


.lakbtn1:hover{
    color: black;
    background-color: white;
}

.lakbtn1:hover .lakbtn {
    color: black;
    background-color: white;
}

.lakbtn {
    background-color: black;
    color: white;
    text-decoration: none;  
    font-weight: bold;
}

.hinti {
    color: grey;
}

.ccc {
    width: 580px;
    height:10px ;
    background-color: #000000;
   margin-left: 33%;
    margin-top: 10px;
}

.lopo {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

